ffmpeg
torch
torchaudio

requests
websocket-client
python-dotenv==1.0.0
transformers
rich
loguru
numpy
pydub
sounddevice
soundfile
playsound3
faster_whisper
scipy
onnxruntime
openai
fastapi
uvicorn[standard]
groq

edge_tts
langchain
langchain_community
chroma
chromadb
ollama
bs4
gpt4all
unstructured
unstructured[pdf]
pygame